@model TblComplainTicket

<section class="content-header">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Ticket Information</a></li>

    </ol>

</section>
<!-- Main content -->
<section class="content container-fluid">

    <div class="card">
        <div class="card-body">
            <div class="col-sm-10">

                <form class="form-horizontal" enctype="multipart/form-data" asp-controller="ComplainTicketInfo" asp-action="CreateTicket" method="post">
                    <div class="form-group">
                        <div class="row">
                    
                      <label for="inputEmail3" class="col-sm-2 control-label">Ticket No</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="TicketNo" class="form-control" placeholder="" readonly="readonly">
                            </div>

                            <label for="inputEmail3" class="col-sm-2 control-label">Ticket Date</label>
                            <div class="col-sm-4">
                                <input type="date" asp-for="TicketDate" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Department</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="DepartmentCode" onchange="GetDepartmentWiseApprovers()">
                                    @foreach (var item in ViewBag.DepartmentList)
                                    {
                                        <option value="@item.DepartmentCode">@item.DepartmentName</option>
                                    }
                                </select>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label">Complain Type</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="ComplainTypeCode">
                                    @foreach (var item in ViewBag.ComplainTypes)
                                    {
                                        <option value="@item.ComplainTypeCode">@item.ComplainTypeName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Severity Level</label>
                            <div class="col-sm-4">
                                <select class="form-control" asp-for="SeverityLevelCode">
                                    @foreach (var item in ViewBag.SeverityLevels)
                                    {
                                        <option value="@item.SeverityLevelCode">@item.SeverityLevelName</option>
                                    }
                                </select>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label">Machine List</label>
                            <div class="col-sm-4">
                                <select class="form-control" multiple asp-for="MachineCode">
                                    @foreach (var item in ViewBag.MachineSetups)
                                    {
                                        <option value="@item.MachineCode">@item.MachineName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Problem Details</label>
                            <div class="col-sm-4">
                                <textarea type="text" asp-for="ComplainDetails" class="form-control" placeholder=""></textarea></>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label">Comments</label>
                            <div class="col-sm-4">
                                <textarea type="text" asp-for="Comments" class="form-control" placeholder="" ></textarea>
                            </div>

                            
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-sm-10">

                                <label for="" class="col-sm-2 control-label text-right">Attachment</label>
                                <div class="col-sm-4">
                                    <input type="file" id="Attachment" class="form-control" />
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" onclick="Upload()" class="btn btn-sm btn-primary">Add</button>
                                </div>
                            </div>
                            <div class="col-sm-5 mt-4">
                                <table id="htAttachmentDetials" class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="text-align:center;width:7%;display:none;"> File Name</th>
                                            <th style="text-align:center;width:10%;display:none;">Original File Name</th>
                                            <th style="text-align:center;width:10%;display:none;">Document Type</th>
                                            <th style="text-align:center;width:10%;display:none;">Location</th>
                                            <th style="text-align:center; width:5%">Attached Files</th>
                                            <th style="text-align:center;width:0.5%">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tblComplainTicketImageDetail">
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-sm-12 mt-4">
                                <table id="htApporverData" class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="text-align:center;width:7%;"> Approver Id</th>
                                            <th style="text-align:center;width:10%;">Approver Name</th>
                                            <th style="text-align:center;width:10%;">Department</th>
                                            <th style="text-align:center;width:10%;">Designation</th>
                                            <th style="text-align:center; width:10%">Contact No</th>
                                            <th style="text-align:center;width:5%">Send SMS</th>
                                            <th style="text-align:center;width:5%; display:none">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tblApporverBodyData">
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <a class="btn btn-mini btn-primary" href='@Url.Content("/ComplainTicketInfo/Index")'>Cancel</a>
                              
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>

                            </div>


                        </div>
                    </div>
                   
                </form>

              

              

            </div>

        </div>

    </div>

    <!-- /.box-body -->
    </div>

    </div>
    <!-- /.row -->
</section>
<script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
<script>
 
    $(document).ready(function () {
        $('#MachineCode').select2();
    });
   
    function Delete(id) {
        //alert(id)
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Delete", "ReceiveAttachement")',
                    data: {
                        vId: id
                    },
                    error: function (result) {
                        alert("error");
                    },
                    success: function (result) {
                        if (result == true) {
                            var baseUrl = "/Index";
                            alert("Delete Succesful.");
                            window.location.reload();
                        }
                        else {
                            alert("Can't delete, May have data dependency !");
                        }

                    }
                });
        }
    }
    function Upload() {
        var formData = new FormData();
        formData.append('file', $('#Attachment')[0].files[0]);

        $.ajax({
            url: '@Url.Action("UploadFile", "ComplainTicketInfo")', // Replace with your controller action URL
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (elem) {
                console.log(elem);
                var table = $("#htAttachmentDetials tbody");
                // $.each(result, function (idx, elem) {

                var index = $("#tblComplainTicketImageDetail").children("tr").length;
                var indexCell = "<td style='display:none'><input name='TblComplainTicketsImageDetails.Index' type='hidden' value='" + index + "' /></td>";
                var fileNameCell = "<td style='display:none'> <input type='text' class='calFileName' style='text-align:right; width:100%' id='TblComplainTicketsImageDetails_" + index + "_FileName' name='TblComplainTicketsImageDetails[" + index + "].FileName' value='" + elem.filename + "'/> </td>";
                var orginalFileNameCell = "<td style='display:none'> <input type='text' class='calOriginalFileName' style='text-align:right; width:100%' id='TblComplainTicketsImageDetails_" + index + "_OriginalFileName' name='TblComplainTicketsImageDetails[" + index + "].OriginalFileName' value='" + elem.originalFileName + "'/></td>";
                var documentTypeCell = "<td style='display:none'> <input type='text' class='calDocumentType' style='text-align:right; width:100%' id='TblComplainTicketsImageDetails_" + index + "_DocumentType' name='TblComplainTicketsImageDetails[" + index + "].DocumentType' value='" + elem.extension + "'/></td>";
                var locationCell = "<td style='display:none'> <input type='text' class='calLocation' style='text-align:right; width:100%' id='TblComplainTicketsImageDetails_" + index + "_Location' name='TblComplainTicketsImageDetails[" + index + "].Location' value='" + elem.fileLocation + "'/></td>";
                var fileCell = "<td style='text-align: left;'> <a href='/Upload/" + elem.filename + "';download='" + elem.originalFileName + "'>" + elem.originalFileName + "</a></td>"
                var removeCell = "<td style='text-align: center;'><input id='addRowToTable' type='button' class='btn btn-sm btn-danger'value='Remove' onclick='removeRowItem(" + index + ");' /></td>";

                var newRow = "<tr id='trtblComplainTicketImageDetail" + index + "'>" + indexCell + fileNameCell + orginalFileNameCell + documentTypeCell + locationCell + fileCell + removeCell + "</tr>";

                    table.append(newRow);
                // });
            },
            error: function (error) {
                console.log( error.responseText);
            }
        });
    }
    function removeRowItem(id) {
        var controlToBeRemoved = "#trtblComplainTicketImageDetail" + id;
        var deleteableFile = $("#TblComplainTicketsImageDetails_" + id + "_FileName");
        var vFilename = deleteableFile.val();
      

        $.ajax({
            url: '@Url.Action("RemoveFile", "ComplainTicketInfo")',
            type: 'POST',
            data: {
                fileName: vFilename,
            },
            success: function (result) {
                debugger;
                if (result) {
                    $(controlToBeRemoved).remove();
                }
                else { 
                    alert("Action Failed!");
                }

               
            },
            error: function (error) {
              
            }
        });
       
       

    }
    function checkboxSetValue(e) {
        var row = e.id.split("_");
        var rowId = $("#" + row[0] + "_" + row[1] + "_SendSms")
        if ($(e).is(':checked')) {
           
            rowId.val(true);
        }
        else {
            rowId.val(false);
        }
        // var checkbox = $('#TblComplainTicketsApproverSmsdetails_' + index + '_SendSms');
        
    }
    function GetDepartmentWiseApprovers() {
        var table = $("#htApporverData tbody");
        table.empty();
        var departmetCode = $("#DepartmentCode").val();
        var date = new Date();
        var DateNow = date.getDate();
        $.ajax({
            url: '@Url.Action("GetApproverDetials", "ComplainTicketInfo")', // Replace with your controller action URL
            type: 'POST',
            data: {
                DepartmentCode:departmetCode,
            },
            success: function (result) {
                console.log(result);
               
                $.each(result, function (idx, elem) {

                    var index = $("#tblApporverBodyData").children("tr").length;
                    var indexCell = "<td style='display:none'><input name='TblComplainTicketsApproverSmsdetails.Index' type='hidden' value='" + index + "' /></td>";

                    var approverId = "<td> <input type='text' readonly class='calApproverId form-control' style='text-align:right; width:100%' id='TblComplainTicketsApproverSmsdetails_" + index + "_FileName' name='TblComplainTicketsApproverSmsdetails[" + index + "].ApproverCode' value='" + elem.employeeCode + "'/> </td>";
                    var approverName = "<td> <input type='text' readonly class='calApproverName form-control' style='text-align:right; width:100%' id='TblComplainTicketsApproverSmsdetails_" + index + "_ApproverName'  value='" + elem.employeeName + "'/> </td>";
                    var department = "<td> <input type='text' readonly class='calDepartment form-control' style='text-align:right; width:100%' id='TblComplainTicketsApproverSmsdetails_" + index + "_Department'  value='" + elem.departmentName + "'/> </td>";
                    var designation = "<td> <input type='text' readonly class='calDesignation form-control' style='text-align:right; width:100%' id='TblComplainTicketsApproverSmsdetails_" + index + "_Designation'  value='" + elem.designationName + "'/> </td>";
                    var contactNo = "<td> <input type='text' readonly class='calContactNo form-control' style='text-align:right; width:100%' id='TblComplainTicketsApproverSmsdetails_" + index + "_ContactNo' name='TblComplainTicketsApproverSmsdetails[" + index + "].SMSTo' value='" + elem.contactNo + "'/> </td>";

                    var sendSms = "<td style='display:none'> <input type='hidden' class='calSendSms' style='text-align:right; width:100%' id='TblComplainTicketsApproverSmsdetails_" + index + "_SendSms' name='TblComplainTicketsApproverSmsdetails[" + index + "].IsSMSReceiver' value='" + elem.isSmsreceiver + "'/> </td>";
                    var check = "";
                    if (elem.isSmsreceiver) {
                        check = "checked"
                    }
                    var sendSmsCheckbox = "<td >  <input type='checkbox' class='calSendSmsChck'" + check + " style = 'text-align:right; width:100%' id = 'TblComplainTicketsApproverSmsdetails_" + index + "_SendSmschk' onchange = 'checkboxSetValue(this)' /> </td>";

                    var removeCell = "<td style='text-align: center;'><input id='addRowToTable' type='button' class='btn btn-danger' value='Remove' onclick='removeRowItem(" + index + ");' /></td>";

                    var newRow = "<tr id='trTblComplainTicketApproverSMSDetail" + index + "'>" + indexCell + approverId + approverName + department + designation + contactNo + sendSms + sendSmsCheckbox  + "</tr>";

                table.append(newRow);
                });
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    }
</script>




